@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v19/zOL64pLDlL1D99S8g8PtiKchm-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-PgFkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-BQCkqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-C0Ckqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787weuyJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787wsuyJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787zAvCJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lora/v32/0QI6MX1D_JOuGQbT0gvTJPa787z5vCJG.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
html {
  font-size: 10px;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
header {
  width: 25%;
  padding: 0px 75px;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  header {
    width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    width: 320px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  header {
    width: 25%;
  }
}
@media screen and (min-width: 1400px) {
  header {
    width: 25%;
  }
}
header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100%;
  border-right: 1px solid #bfbfbf;
  padding: 50px 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -320px;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  header .wrap {
    width: 320px;
    left: -320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .wrap {
    width: 320px;
    left: -320px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .wrap {
    width: 25%;
    left: 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  header .wrap {
    width: 25%;
    left: 0;
  }
}
@media screen and (min-width: 1400px) {
  header .wrap {
    width: 25%;
    left: 0;
  }
}
header .wrap nav .fa-bars-staggered {
  color: #000;
  display: block;
  position: absolute;
  font-size: 2rem;
  top: 25px;
  right: -25px;
  cursor: pointer;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  header .wrap nav .fa-bars-staggered {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .wrap nav .fa-bars-staggered {
    display: block;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .wrap nav .fa-bars-staggered {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  header .wrap nav .fa-bars-staggered {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  header .wrap nav .fa-bars-staggered {
    display: none;
  }
}
header .wrap nav ul {
  margin-top: 20px;
}
header .wrap nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}
header .wrap nav ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
header .wrap nav ul li a:hover {
  color: #000000;
}
header .wrap nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  background: #1eafed;
  width: 100%;
  height: 2px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .wrap nav ul li a:hover::before {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .wrap nav ul li a.active {
  color: #1eafed;
}
header .wrap nav ul li a.active::before {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
header .wrap > a {
  text-decoration: none;
  font-size: 6.2rem;
  font-family: 'Abril Fatface', cursive;
  background: url(../images/bg_1.jpg) left center no-repeat;
  background-size: cover;
  mix-blend-mode: lighten;
  color: url(../images/bg_1.jpg);
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  header .wrap > a {
    font-size: 6.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .wrap > a {
    font-size: 6.2rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .wrap > a {
    font-size: 6.2rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  header .wrap > a {
    font-size: 7.4rem;
  }
}
@media screen and (min-width: 1400px) {
  header .wrap > a {
    font-size: 7.4rem;
  }
}
header .wrap > a span {
  display: block;
}
header .wrap .email {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}
header .wrap .email h4 {
  color: #000000;
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
header .wrap .email .wrap_input {
  position: relative;
  margin-bottom: 20px;
}
header .wrap .email .wrap_input input {
  width: 90%;
  padding: 10px;
  border: 1px solid #1eafed;
  font-family: 'Poppins', sans-serif;
}
header .wrap .email .wrap_input button {
  position: absolute;
  top: 0px;
  right: 20px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  background: none;
}
header .wrap .email p {
  line-height: 2.2rem;
}
header .wrap .email a {
  text-decoration: none;
  color: #000000;
}
main {
  position: relative;
  margin-left: 0px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrap_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 1100px;
}
section {
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
section .wrap_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
section .content {
  font-family: 'Poppins', sans-serif;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section .content h3 {
  font-size: 3rem;
  font-family: 'Lora', serif;
}
section .content .date {
  font-size: 1.2rem;
  color: #000;
}
section .content .date span {
  margin: 0px 10px;
  color: #666666;
}
section .content .text {
  display: inline;
}
section .content a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1eafed;
}
aside {
  background: #a00;
  width: 100%;
  height: 500px;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  aside {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  aside {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  aside {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  aside {
    width: 25%;
  }
}
@media screen and (min-width: 1400px) {
  aside {
    width: 25%;
  }
}
/*# sourceMappingURL=style.css.map */